:root {
  --main-text-color: #6c757d;
  --secondary-color: #31d2f2;
  --hyperlink-color: #9fadd3;
}
body {
  background: linear-gradient(
    180.8deg,
    rgb(139, 10, 130) 6.9%,
    rgb(73, 6, 70) 73.2%
  );
}
.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: var(--main-text-color);
  background-color: #21356e7e;
}
.Weather form {
  margin-bottom: 20px;
}

.Weather canvas {
  margin-top: 10px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .locationButton:hover {
  background-color: #21356e;
  border-color: #0d6efd;
  color: #0d6efd;
  transition: 0.4s ease-out;
}

.Weather .searchButton:hover {
  background-color: #21356e;
  border-color: #31d2f2;
  color: #31d2f2;
  transition: 0.4s ease-out;
}
.Weather .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--secondary-color);
  border-radius: 0;
  color: var(--main-text-color);
  font-size: 20px;
  font-weight: 700;
  padding-left: 5px;
}

.Weather .form-control:focus {
  color: var(--main-text-color);
  background-color: transparent;
  border-color: var(--secondary-color);
  outline: 0;
  box-shadow: none;
  transition: 0.2s ease-out;
}

.Weather .form-control:hover {
  color: var(--main-text-color);
  background-color: #31d2f283;
  border-color: var(--secondary-color);
  outline: 0;
  box-shadow: none;
  transition: 0.2s ease-out;
}

.Weather .temperature {
  font-weight: bold;
  color: var(--main-text-color);
  font-size: 50px;
  font-weight: 400;
  line-height: 64px;
  margin-left: 10px;
}

.Weather .unit {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  margin-left: 5px;
  line-height: 1;
}

.Weather .unit a {
  text-decoration: none;
  color: var(--hyperlink-color);
}

.Weather .unit a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.Weather .locationButton {
  border-radius: 5px;
}

.weatherConditions {
  border-top: 0.5px solid rgba(126, 245, 235, 0.3);
  border-bottom: 0.5px solid rgba(126, 245, 235, 0.3);
  padding: 10px;
}

.weatherCondition {
  text-align: center;
}

.currentHumidity,
.currentWind,
.currentFeelsLike {
  font-size: 12px;
  margin: 0;
}

.currentMax,
.currentMin {
  margin: 10px;
}
