.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}
.Weather form {
  margin-bottom: 20px;
}

.Weather canvas {
  margin-top: 10px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 50px;
  font-weight: 400;
  line-height: 64px;
  margin-left: 10px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  margin-left: 5px;
  line-height: 1;
}

.Weather .unit a {
  text-decoration: none;
}

.Weather .unit a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.float-left {
  float: left;
}

.Weather .locationButton {
  border-radius: 5px;
}

.weatherConditions {
  border-top: 0.5px solid rgba(238, 238, 238, 0.3);
  border-bottom: 0.5px solid rgba(238, 238, 238, 0.3);
  padding: 10px;
}

.weatherCondition {
  text-align: center;
}

.currentHumidity,
.currentWind,
.currentMax,
.currentMin,
.currentFeelsLike {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}
